
.loader{
  width: 100%;
  height: 20px;
 display: flex;
 align-items: center;
}

.progress-bar{
  width: 60%;
  /* width: calc(1vw ); */
  height: 100%;
  background-color: rgb(41, 197, 145);
  border-radius: 5px;
}