div{
  align-self: center;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  box-sizing: border-box;
}
.border{
  border: 1px solid gray;
  border-radius: 5px;
}
 .header{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .search{
   width: 70%;
   height: 30px;
   padding: 5px 20px 0;
   margin: 0 20px;
   align-items: center;
 }

 .columns{
   position: relative;
   border: 1px solid gray;
   padding: 5px 10px 0;
   height: 30px;
   margin: 0 10px;
 }
 .button{
   display: flex;
   height: 30px;
   padding: 0 10px;
   width: 20%;
   margin: 0 20px;
   justify-content: space-evenly;
 }

.table
{
    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr 1.5fr 1.5fr 2fr 2fr 1.5fr 2fr 1fr;
    grid-template-rows: repeat(10, 50px);
}
 
.chek
{
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 3px;
   
}

input{
  position: relative;
}

input::after  { content: "";
  position: absolute;
  width: 1700px;
    bottom: -17px;
    left: -20px;
  border-bottom: 1px solid gray; } 

.order{
  font-weight: bold;
}  
.container{
  display: flex;
  
}
.end{
  background-color: gray;
  border-radius: 15px;
  width: 35%;
  height: 25px;
  padding: 0 5px;
}
.circle-end{
background-color: black;
width: 10px;
height: 10px;
border-radius: 50%;
}
.loading{
  background-color: rgb(235, 154, 3);
  border-radius: 15px;

  height: 25px;
  padding: 5px;
}
.circle-loading{
border: 1px solid rgb(102, 99, 93);
width: 10px;
height: 10px;
border-radius: 50%;
font-size: 12px;
}